body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
  margin: .5rem 0;
}

h2 {
  font-size: 1.6rem;
  margin: .5rem 0;
}

.container {
  margin: 1rem auto;
  background-color: aqua;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img-fuild {
  width: 100%;
  height: auto;
}

.thumb {
  height: 150px;
  width: 150px;
}

.flexwrap{
  display: flex;
  flex-wrap: wrap;
}

/* small devices (landscape phones) */
@media (min-width: 576px) {
  .container {
    max-width: 520px;
  }
}

/* medium  devices (tablets) */
@media (min-width: 758px) {
  .container {
    max-width: 720px;
  }

  .flex {
    flex-direction: row;
  }
}

/* large devices (laptops, desktops) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
